/******************** BASIC ********************/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
/******************** NAVIGATION ********************/
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7vh;
	background-color: rgb(41, 0, 79);
	font-family: "Montserrat", sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
}
.logo {
	color: rgb(235, 235, 235);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	min-width: 8rem;
	margin-left: 1rem;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	min-width: 30%;
	list-style: none;
}
.nav-links a {
	color: rgb(235, 235, 235);
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: 300;
	margin: 15px;
	position: relative;
	text-transform: uppercase;
}
.nav-links a::before {
	content: "";
	display: block;
	height: 3px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: -0.35em;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	transition: all ease-in-out 250ms;
	opacity: 0.1;
}
.nav-links a:hover::before {
	transform: scale(1, 1);
	opacity: 0.9;
}
.nav-links a:hover {
	text-shadow: rgb(76, 76, 76) 1px 1px;
	transition: all 0.2s ease-in-out;
}
.burger {
	display: none;
	cursor: pointer;
}
.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(235, 235, 235);
	margin: 5px;
	transition: all 0.3s ease;
}
@media screen and (max-width: 700px) {
	body {
		overflow-x: hidden;
	}
	.nav-links a {
		font-size: 14px;
		margin: 12px 0px 0px 12px !important;
	}
	.nav-links {
		position: absolute;
		left: 0px;
		height: 93vh;
		top: 7vh;
		background-color: rgb(41, 0, 79);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-width: 33%;
		transform: translateX(-100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.burger {
		display: block;
		position: absolute;
		right: 10px;
	}
}
.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.x-mark .line1 {
	transform: rotate(135deg) translate(5px, -7px);
}
.x-mark .line2 {
	opacity: 0;
}
.x-mark .line3 {
	transform: rotate(45deg) translate(-4px, -6px);
}

/******************** FOOTER ********************/
.footer {
	background-color: rgb(41, 0, 79);
	height: 30px;
	position: fixed;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: flex;
}
main {
	padding-bottom: 30px;
	padding-top: 7vh;
}
.footer h5 {
	color: rgb(235, 235, 235);
	font-size: 10px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
}
/******************** IMAGE-GALLERY ********************/
.img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 3rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5em;
}

.img-container .header h3 {
	font-size: 30px;
	font-weight: 900;
	border-bottom: 2px solid black;
	padding-bottom: 0.2em;
}
.img-container .header h3 span {
	font-weight: 100;
}
.img-container .header {
	width: 50%;
	padding-bottom: 1em;
	padding-top: 2rem;
}
.img-container .box {
	display: flex;
	flex-wrap: wrap;
}
.img-container .box .photos {
	flex: 24%;
	margin: 3px;
}
.img-container .box .photos img {
	width: 100%;
	border-radius: 5px;
}
@media only screen and (max-width: 770px) {
	.img-container .box .photos {
		flex: 100%;
	}
	.img-container .header h3 {
		font-size: 24px;
		padding-bottom: 0.1em;
	}
	.img-container .header {
		width: 75%;
		padding-bottom: 1em;
		padding-top: 2rem;
	}
}
@media only screen and (min-width: 770.1px) {
	.img-container .box .photos {
		flex: 48%;
	}
	.img-container .header h3 {
		font-size: 26px;
		padding-bottom: 0.2em;
	}
	.img-container .header {
		width: 70%;
		padding-bottom: 1em;
		padding-top: 2rem;
	}
}
@media only screen and (min-width: 1050px) {
	.img-container .box .photos {
		flex: 24%;
	}
	.img-container .header h3 {
		font-size: 30px;
	}
	.img-container .header {
		width: 65%;
	}
}

/******************** CONTACT PAGE ********************/

.form-container {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #474544;
	max-width: 666px;
}
.email {
	width: 100%;
}
.message {
	float: none;
}
.name {
	float: left;
	width: 45%;
}
.underline {
	border-bottom: solid 2px #474544;
	margin: -0.5em auto;
	width: 80px;
}
.subject {
	width: 100%;
}
.telephone {
	width: 45%;
	float: right;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
input,
select,
textarea {
	color: #5a5a5a;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

form {
	padding: 37.5px;
}

.form-container h1 {
	color: #474544;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

input[type="text"],
[type="email"],
select,
textarea {
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.5em 0;
	padding: 0 0 0.5em 0;
	text-transform: uppercase;
	width: 100%;
	transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
	outline: none;
	padding: 0 0 0.5em 0;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	width: 100%;
}

#form_button {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	text-transform: uppercase;
	transition: all 0.3s;
}

#form_button:hover {
	background: #474544;
	color: #f2f3eb;
}
@media screen and (max-width: 680px) {
	.form-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
@media screen and (max-width: 480px) {
	.form-container h1 {
		font-size: 26px;
	}
	.form-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.underline {
		width: 68px;
	}

	#form_button {
		padding: 15px 25px;
	}
}

@media screen and (max-width: 420px) {
	.form-container h1 {
		font-size: 18px;
	}
	.form-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.underline {
		width: 53px;
	}

	input[type="text"],
	[type="email"],
	select,
	textarea {
		font-size: 0.875em;
	}
}

/******************** ABOUT ME PAGE ********************/

.about-container {
	margin-top: 5rem;
	margin-bottom: 4rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.ab-info {
	display: flex;
	flex-wrap: wrap;
}
.ab-info > * {
	padding: 1em;
}

.ab-photo {
	flex: 50%;
	align-self: center;
}
.ab-text {
	flex: 50%;
	font-size: 1em;
}
.ab-header {
	width: 50%;
	text-align: center;
}
.ab-header h3 {
	font-size: 30px;
	font-weight: 900;
	border-bottom: 2px solid black;
	padding-bottom: 0.2em;
}
.ab-header h3 span {
	font-weight: 100;
}

.ab-photo img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

#photo2 {
	display: none;
}
#photo3 {
	display: none;
}
#photo4 {
	display: none;
}
@media only screen and (max-width: 899px) {
	.ab-photo {
		display: flex;
		justify-content: center;
	}
	.ab-photo img {
		width: 65%;
	}
	.ab-text {
		flex: 100%;
		font-size: 0.9em;
	}
	.ab-header {
		width: 100%;
	}
}
@media only screen and (min-width: 899.1px) {
	.ab-photo {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.ab-text {
		width: 100%;
		font-size: 1em;
	}
	#photo4 {
		display: flex;
	}
}

@media only screen and (min-width: 1100px) {
	.ab-photo {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.ab-text {
		width: 100%;
		flex: none;
		font-size: 1.1em;
	}
	.ab-photo img {
		width: 30%;
	}
	#photo2 {
		display: flex;
	}
	#photo3 {
		display: flex;
	}
	#photo4 {
		display: none;
	}
}

/********** BIKES PAGE **********/

.bike-container {
	margin-top: 5rem;
	margin-bottom: 4rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.bike-info {
	display: flex;
	flex-wrap: wrap;
}
.bike-info > * {
	padding: 1em;
}

.bike-photo {
	flex: 49%;
	align-self: center;
}
.bike-text {
	flex: 49%;
	font-size: 1em;
}
.bike-header {
	width: 50%;
	text-align: center;
}
.bike-header h3 {
	font-size: 30px;
	font-weight: 900;
	border-bottom: 2px solid black;
	padding-bottom: 0.2em;
}
.bike-header h3 span {
	font-weight: 100;
}

.bike-photo img {
	width: 100%;
	border-radius: 5px;
}

@media only screen and (max-width: 992px) {
	.bike-photo {
		display: flex;
		justify-content: center;
	}
	.bike-photo img {
		width: 95%;
	}
	.bike-text {
		flex: 100%;
		font-size: 0.9em;
	}
	.bike-header {
		width: 100%;
	}
}
@media only screen and (min-width: 992.1px) {
	.bike-photo {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.bike-text {
		width: 100%;
		font-size: 1em;
	}
}

@media only screen and (min-width: 1300px) {
	.bike-info {
		margin-top: 1em;
		flex-direction: column;
		align-content: space-between;
		width: 100%;
		max-height: 40em;
	}

	.bike-text {
		padding: 10px;
		width: 32%;
		font-size: 1em;
		height: 100%;
	}
	.bike-photo {
		padding: 0;
		width: 32%;
	}
	.bike-photo img {
		max-height: 300px;
	}
}
